.layout-sidebar{
    display: grid;
}

.layout-sidebar aside{
    grid-row: 1/2;
    padding: 25px 0;
}
.sidebar-box-recommended{
    display: none;
}

.sidebar-tittle{
    font-size: var(--h2-font-size);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-bottom: 12px;
    margin-bottom: 20px;
    border-bottom: 1px solid #333;
}
.sidebar-recommended{
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.recommended-post{
    display: grid;
    grid-template-columns: 100px 2fr;
    gap: 1rem;
    padding: 14px 0;
    border-bottom: .5px solid #e8e8e8;
} 
.recommended-post:first-child{
    padding-top: 0;
}

.recommended-box-img{
    overflow: hidden;
}
.recommended-post img {
    max-width: 100%;
    width: 120px;
    height: 100px;
    object-fit: cover;
    transition: .4s ease all;
}
.recommended-post img:hover {
    cursor: pointer;
    transform: scale(1.05);
} 

.sidebar-div-data{
    display: grid;
    grid-template-columns: auto auto;
}
.sidebar-main{
    font-size: var(--normal-font-size);
    color: #dc3545;
    margin: 0;
    font-weight: 700;
}
.sidebar-date{
    font-size: var(--smaller-font-size);
    font-weight: 300;
    margin: 0;
    text-align: end;
}
.sidebar-headline{
    font-size: var(--normal-font-size);
    color: var(--text-color);
    font-weight: 700;
    margin: 0;
}
.recommended-box-advertising{
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.recommended-box-advertising img {
    margin-top: 10px;
    max-width: 100%;
    width: 100%;
    transition: .4s ease all;
}
.recommended-box-advertising img:hover {
    cursor: pointer;
    transform: scale(1.05);
} 
@media (min-width: 1200px) {
    .layout-sidebar{
        grid-template-columns: 2fr 350px;
        column-gap: 2rem;
    }
    .layout-sidebar aside{
        grid-row: initial;
        padding: initial;
    }
    .sidebar-content{
        position: sticky;
        top: 80px;
        padding-bottom: 180px;
    }
    .sidebar-box-recommended{
        display: initial;
    }
}